<h2>Top 15 contributors <small class="total-contributors">(of 161)</small></h2>
<div class="contributors">
    {% for c in site.data.contributors %}
    <a href="https://github.com/{{ c.username }}" class="contributor">
        <img src="{{ c.avatar }}" alt="User avatar">
        <div class="name-and-commit">
            <h4>{{ c.username }}</h4>
            <div class="commits">{{ c.contributions }} commits</div>
        </div>
    </a>
    {% endfor %}
</div>
<style>
    .total-contributors {
        font-weight: 400;
        color: rgba(0, 0, 0, 0.3);
    }

    .contributors {
        width: 100%;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .contributors .contributor {
        display: flex;
        align-items: center;
        width: calc(33% - 16px); /* 16*3/2 == 24 */
        padding: 16px;
        background: #fff;
        box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1);
        border-radius: 5px;
        margin-bottom: 16px;
        color: rgba(0, 0, 0, 0.75);
    }

    .contributors .contributor img {
        display: block;
        max-width: 40px;
        border-radius: 40px;
        margin-right: 16px;
    }

    .contributors .contributor h4 {
        font-weight: 500;
        margin: 0;
    }

    .contributors .contributor .name-and-commit {
        width: calc(100% - 56px);
    }

    .contributors .contributor h4,
    .contributors .contributor .commits {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    @media (max-width: 600px) {
        .contributors .contributor {
            width: 100%;
        }
    }
</style>
