/*
    Styles that affect the length of the document,
    having these inline prevents reflow due to size changes.
*/
p code,
li code {
    font-size: 90%;
    letter-spacing: -0.5px;
    border: 1px solid var(--jv-color-code-border);
    background: var(--jv-color-code-bg);
    padding: 1px 3px;
}

.multitab-code pre {
    margin-top: 0;
    border-radius: 0 0 5px 5px;
}

.multitab-code div[data-tab] {
    display: none;
}

:target {
    scroll-margin-top: 108px;
}

.anchorjs-link {
    transition: all .25s linear;
}

*:hover > .anchorjs-link {
    margin-left: -1.125em !important;
}
