<div id="j2-banner">
    Javalin 2.0 has been released!
    <span id="j2-links">
        <a href="/news/javalin-2.0.0-stable.html">News</a>
        <a href="/migration-guide-javalin-1-to-2">Migration&nbsp;guide</a>
        <a class="social-btn" href="https://twitter.com/intent/tweet?text=Javalin 2.0 stable released&url={{ site.url }}/news/javalin-2.0.0-stable.html&via=javalin_io&related=javalin_io" rel="nofollow">Tweet&nbsp;it!</a>
    </span>
</div>
<style>
    #j2-banner {
        margin: 12px 0 20px;
        width: 100%;
        background: #008cbb;
        min-height: 70px;
        line-height: 70px;
        color: white;
        text-shadow: 1px 1px rgba(0, 0, 0, 0.5);
        text-align: center;
        font-family: 'Encode Sans', sans-serif;
        font-size: 18px;
        border-radius: 5px;
        padding: 0 20px;
    }
    #j2-banner a {
        color: white;
        border: 2px dotted white;
        padding: 0 6px 3px 6px;
        border-radius: 5px;
        margin-left: 10px;
    }
    #j2-links {
        white-space: nowrap;
    }
</style>
