main {
    padding: 0;
}

header nav {
    justify-content: center;
}

header nav ul {
    display: none;
}

main.width-limit {
    max-width: 100%;
    padding: 0;
}

header {
    position: absolute;
    border: 0;
    background: radial-gradient(#1a1a1a, #212121);
}

nav ul li + li {
    border: 0;
}

nav ul li a {
    color: rgba(255, 255, 255, 0.95);
}

nav ul li a:hover {
    color: white;
}

.landing h1 {
    text-align: center;
    margin: 32px 0 40px; /* offset line height */
}

.bluepart *::selection {
    background: #000000;
}

.bluepart.blackpart {
    background: #343434;
    background: radial-gradient(#313131, #212121);
    padding: 70px 20px 90px; /* Uneven padding to deal with text height */
}

.bluepart {
    padding: 60px 20px;
    background: radial-gradient(#02a2d7, #028ebc);
}

.bluepart .multitab-code {
    max-width: 520px;
    margin: 40px auto;
}

.bluepart .multitab-code ul {
    background: rgba(0, 0, 0, 0.35);
}

.bluepart .multitab-code pre {
    background: rgba(0, 0, 0, 0.30);
}

.bluepart.blackpart .multitab-code ul {
    background: rgba(0, 0, 0, 0.30);
}

.bluepart.blackpart .multitab-code pre {
    background: rgba(0, 0, 0, 0.25);
}

.bluepart .multitab-code pre code {
    line-height: 1.4;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.3);
}

.bluepart .multitab-code pre code .token.number {
    color: #ffbbea;
}

.bluepart .multitab-code pre code .token.function {
    color: #ffe200;
}

.bluepart .multitab-code pre code .token.string {
    color: #9be800;
}

.bluepart .multitab-code pre code .token.keyword {
    color: #54e3ff;
}

.bluepart .multitab-code pre code .token.comment {
    color: #a0bedc;
}

.bluepart h1 {
    text-align: center;
    color: white;
    font-weight: 600;
    margin: 0;
    text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.3);
}

.blackpart h1 {
    text-shadow: 2px 2px 0 #000;
}

.whitepart {
    padding: 0 20px;
}

.whitepart h1 {
    text-decoration: underline;
}

.bluepart > p {
    text-align: center;
    color: white;
}

.bluepart > p > a {
    color: white;
    text-decoration: underline;
}

.center {
    text-align: center;
}

.landing-btn {
    margin: 0 8px;
    padding: 12px 20px;
    text-align: center;
    display: inline-block;
    background: rgba(255, 255, 255, 0.15);
    border-bottom: 2px solid rgba(0, 0, 0, 0.3);
    color: white;
    cursor: pointer;
    border-radius: 50px;
    font-family: 'Roboto Slab', arial, sans-serif;
    font-weight: 500;
}

.blackpart .landing-btn {
    border-bottom: 3px solid rgba(0, 0, 0, 0.3);
    border-bottom: 3px solid rgba(0, 0, 0, 0.7);
}

.landing-btn:hover {
    background: rgba(255, 255, 255, 0.25);
}

.boxes {
    display: flex;
    max-width: 1200px;
    justify-content: center;
    margin: 0 auto;
}

.boxes .box {
    flex-basis: calc(25% - 32px);
    margin: 0 16px 32px 16px;
    padding: 32px;
    background: #fff;
    border-radius: 5px;
    font-size: 14px;
    text-align: center;
    line-height: 1.7;
    color: rgba(0, 0, 0, 0.7);
    box-shadow: 0 5px 15px rgba(0, 0, 0, .08);
}

.boxes .box h2 {
    color: rgba(0, 0, 0, 0.9);
    margin-top: 0;
    margin-bottom: 16px;
    font-weight: 500;
    text-transform: none;
    font-size: 24px;
}

.boxes + .boxes {
    margin-bottom: 64px;
}

@media (max-width: 1200px) {
    .boxes {
        flex-wrap: wrap;
    }

    .boxes .box {
        flex-basis: calc(50% - 32px);
    }
}

@media (max-width: 600px) {
    .boxes .box {
        margin: 0 0 32px 0;
        flex-basis: 100%;
    }
}

@media (max-width: 480px) {
    .bluepart {
        padding: 40px 20px;
    }
}

.used-by {
    display: flex;
    flex-wrap: wrap;
    max-width: 1140px;
    margin: 40px auto 0;
    align-items: center;
    justify-content: space-around;
}

.used-by img {
    display: inline-block;
    width: 240px;
    height: 135px;
    padding: 20px;
    margin: 20px;
    border-radius: 5px;
    background: #fff;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.15);
    object-fit: contain;
}

.small-used-by {
    padding: 16px 20px;
    background: #fff;
    overflow: hidden;
}

.small-used-by .content {
    margin: 0 auto;
    max-width: 1140px;
    display: flex;
    justify-content: space-between;
}

.small-used-by img {
    display: block;
    width: 120px;
    height: 68px;
    padding: 10px;
    filter: grayscale(1);
}

.whitepart .comment {
    margin-top: -16px;
    margin-bottom: 16px;
    text-align: center;
}

.white-paragraph {
    max-width: 700px;
    margin: 32px auto 100px;
    text-align: center;
    padding: 0 20px;
    line-height: 1.7;
}

@media (max-width: 480px) {

    .bluepart h1,
    .whitepart h1 {
        font-size: 7.5vw;
    }

    .landing-btn {
        font-size: 14px;
        margin-left: 4px;
        margin-right: 4px;
    }

    .landing-btn + .landing-btn {
        margin-top: 16px;
    }

    .box p {
        font-size: 16px;
    }

    .used-by img {
        width: calc(50% - 15px);
        margin: 7px;
    }

    nav #logo img {
        height: 34px;
    }

}

.bluepart.blackpart.image {
    padding: 60px 20px 120px;
    background: url("/img/background.jpg") center;
    background-size: cover;
}

.bluepart.blackpart.image .multitab-code ul,
.bluepart.blackpart.image .multitab-code pre {
    background: rgba(0, 0, 0, 0.45);
}

.bluepart.blackpart.image .landing-btn {
    background: rgb(36, 70, 101);
}

.bluepart.blackpart.image .landing-btn:hover {
    background: rgb(35, 75, 113);
}
