<style>
    .social {
        margin: 30px 0;
        display: flex;
    }
    .social-btn {
        text-align: center;
        min-width: 240px;
        padding: 10px 16px 8px;
        font-size: 14px;
        font-family: 'Roboto Slab', sans-serif;
        font-weight: 600;
        color: #fff;
        background: #000;
        border-radius: 50px;
        box-shadow: 2px 2px red, -2px -2px cyan;
    }
    .social-btn + .social-btn {
        margin-left: 24px;
    }
    .social-btn:hover {
        background: #008ab4;
    }
    .social-btn img {
        width: 24px;
        display: inline;
        vertical-align: middle;
        margin-right: 12px;
    }
    @media (max-width: 480px) {
        .social {
            justify-content: space-between;
        }
        .social-btn {
            min-width: 0;
            width: calc(50% - 12px);
            text-align: left;
            display: flex;
            align-items: center;
        }
        .social-btn + .social-btn {
            margin-left: 0;
        }
    }
</style>
<div class="social">
    <a class="social-btn" href="https://twitter.com/intent/tweet?text={{ page.title }}&url={{ site.url }}{{ page.url }}&via=javalin_io&related=javalin_io"
       rel="nofollow"
       title="Share on Twitter">
        <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAMAAACdt4HsAAAAM1BMVEUAAAD///////////////////////////////////////////////////////////////+3leKCAAAAEHRSTlMA8BDQwKCAMOBwYECwUCCQ27fl2AAAAW1JREFUWMPtltuOwyAMRLG5QxL8/1+7G6lKFApMaJ5W2/NIPCPAnlL15R+xRSM7ZPMnci5yYvxrNRt3VMRtpPdBLqR9MWkhPkpI80BPUpFy2dfiUbKK9B02kjbmrCkycNAdfeCqpuOQOnrye2teRS9LrxqEjn4tQSS/io7Fxg1Kn/MWjxX7dgw30NvGNkO9CQP1O8v7oGEDq07i9Uu+YxAvs1J91GmDBtdQLVKjYz6/YINNWujiVgsMet3CqAr7yICKn3XQF4N9gizJDAsIDMSBLkIyyDzkmjqmWb0GoYUUBVKLWFUF6yk9gccDYtU7bKabWBNv9yKoDunmTcSW2Im+uwNi1cBP5+DjUSAGrzgiVcLZSBmlHjnQBv7L4AOMYEdwiAGcFgK/A5BN9/WsMCs90nsjT/SrGd0fI3UJIIIdovtlAUnWftA5KwiKakg2Y7ljfPn9tzWkUw5GsHV059UEOVpDR2wXl1l9+RP8AHA4c7ljId3mAAAAAElFTkSuQmCC">Share on X/Twitter
    </a>
</div>
