<div id="star-begging">
    <style>
        #star-begging {
            transition: transform .25s;
            transform: scale(0);
            border-radius: 8px;
            position: fixed;
            bottom: 32px;
            right: 32px;
            padding: 20px 40px 16px 20px;
            background: #fff;
            box-shadow: 0 1px 20px rgba(0, 0, 0, 0.15);
            z-index: 9999998;
        }
        #star-begging.in {
            transform: scale(1);
        }
        #star-begging.out {
            transform: translateX(400px);
        }
        #star-begging p {
            font-size: 16px;
            margin: 0 0 15px;
        }
        #star-begging .close {
            cursor: pointer;
            position: absolute;
            top: 12px;
            right: 15px;
        }
    </style>
    <p>Do you like Javalin?</p>
    <span class="close">✖</span>
    <iframe id="starFrame" class="githubStar" title="github-stars"
            src="https://ghbtns.com/github-btn.html?user=tipsy&amp;repo=javalin&amp;type=star&amp;count=true&size=large"
            frameborder="0" scrolling="0" width="150px" height="30px">
    </iframe>
    <script>
        if (localStorage.getItem("dismissed") !== "true") {
            setTimeout(function () {
                document.querySelector("#star-begging").classList.add("in");
            }, 15000);
            document.querySelector("#star-begging .close").addEventListener("click", function () {
                document.querySelector("#star-begging").classList.add("out");
                localStorage.setItem("dismissed", "true");
            });
        }
    </script>
</div>
