<div id="star-begging" class="jv-card">
    <style>
        #star-begging {
            transition: transform .25s;
            transform: scale(0);
            position: fixed;
            bottom: 32px;
            right: 32px;
            padding: 16px 40px 12px 16px;
            z-index: 9999998;
        }
        #star-begging.in {
            transform: scale(1);
        }
        #star-begging.out {
            transform: translateX(400px);
        }
        #star-begging p {
            font-family: var(--jv-font-heading);
            font-size: 18px;
            font-weight: 600;
            margin: 0 0 15px;
        }
        #star-begging .close {
            position: absolute;
            right: 16px;
            top: 16px;
            background: rgba(0, 0, 0, 0.04);
            border: none;
            border-radius: 8px;
            cursor: pointer;
            padding: 8px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        #star-begging .close:hover {
            background: rgba(0, 0, 0, 0.08);
        }
        #star-begging .close svg {
            width: 20px;
            height: 20px;
            fill: var(--jv-color-text);
        }
    </style>
    <p>
        Like Javalin?
        <br>Star us 😊
    </p>
    <button class="close" aria-label="Close">
        <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            <path d="M19,6.41L17.59,5L12,10.59L6.41,5L5,6.41L10.59,12L5,17.59L6.41,19L12,13.41L17.59,19L19,17.59L13.41,12L19,6.41Z"/>
        </svg>
    </button>
    <iframe id="starFrame" class="githubStar" title="github-stars"
            src="https://ghbtns.com/github-btn.html?user=javalin&amp;repo=javalin&amp;type=star&amp;count=true&size=large"
            frameborder="0" scrolling="0" width="150px" height="30px">
    </iframe>
    <script>
        if (localStorage.getItem("dismissed") !== "true" && document.getElementById("notification-banner") === null) {
            setTimeout(function () {
                document.querySelector("#star-begging").classList.add("in");
            }, 15000);
            document.querySelector("#star-begging .close").addEventListener("click", function () {
                document.querySelector("#star-begging").classList.add("out");
                localStorage.setItem("dismissed", "true");
            });
        }
    </script>
</div>
