@keyframes confetti-slow {
  0% {
    transform: translate3d(0, 0, 0) rotateX(0) rotateY(0);
  }

  100% {
    transform: translate3d(25px, 105vh, 0) rotateX(360deg) rotateY(180deg);
  }
}

@keyframes confetti-medium {
  0% {
    transform: translate3d(0, 0, 0) rotateX(0) rotateY(0);
  }

  100% {
    transform: translate3d(100px, 105vh, 0) rotateX(100deg) rotateY(360deg);
  }
}

@keyframes confetti-fast {
  0% {
    transform: translate3d(0, 0, 0) rotateX(0) rotateY(0);
  }

  100% {
    transform: translate3d(-50px, 105vh, 0) rotateX(10deg) rotateY(250deg);
  }
}

.container {
  width: 100vw;
  height: 100vh;
  background: #f0f0f0;
}

.confetti-container {
  perspective: 700px;
  position: absolute;
  overflow: hidden;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.confetti {
  position: absolute;
  z-index: 1;
  top: -10px;
  border-radius: 0%;

  &--animation-slow {
    animation: confetti-slow 6s linear 1 forwards;
  }

  &--animation-medium {
    animation: confetti-medium 4s linear 1 forwards;
  }

  &--animation-fast {
    animation: confetti-fast 2.5s linear 1 forwards;
  }
}


#v1-stable-party-box {
  width: 100%;
  background: #eaeaea;
  box-shadow: 0 0 5px rgba(0, 0, 0, .4) inset;
  height: 0;
  padding: 0;
  overflow: hidden;
  transition: all .5s ease-in-out;
  position: relative;
  &.open {
    padding: 40px;
    height: 270px;
  }
  img {
    display: block;
    margin: 0 auto;
    width: auto;
  }
  span {
    display: block;
    text-align: center;
    font-size: 18px;
  }
  #flickr {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-left: 260px;
    height: 65px;
    width: 50px;
    top: 30px;
    border-radius: 50%;
    background: rgba(255, 165, 0, 0.05);
    animation: flickr-anim 1.5s infinite;
  }
}

@keyframes flickr-anim {
  from {
    background: rgba(255, 165, 0, 0.05);
    box-shadow: 0 0 10px rgba(255, 165, 0, 0.25);
  }
  50% {
    background: rgba(255, 165, 0, 0.125);
    box-shadow: 0 0 30px rgba(255, 165, 0, 0.35);
  }
  to {
    background: rgba(255, 165, 0, 0.05);
    box-shadow: 0 0 10px rgba(255, 165, 0, 0.25);
  }
}

@media(max-width: 480px) {
  #v1-stable-party-box {
    display: none;
  }
}
