html {
  position: relative;
  min-height: 100%;
}

body {
  padding-top: 80px;
  margin-bottom: 40px;
}

header {
  z-index: 1;
  background: #fff;
  position: fixed;
  height: 80px;
  width: 100%;
  top: 0;
  left: 0;
  border-bottom: 1px solid var(--jv-color-border-light);
}

main {
  padding: 32px 0;
}

footer {
  font-size: 13px;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 40px;
  width: 100%;
  line-height: 40px;
  text-align: center;
  background: #fff;
  border-top: 1px solid var(--jv-color-border-light);
  padding: 0 20px;
  overflow: hidden;
  z-index: 9999999;

  a {
    font-weight: 700;
  }
}

.width-limit {
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  max-width: 1000px;
  margin: 0 auto;
}

.width-limit p {
  line-height: 1.55;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  position: relative;

  #logo img {
    display: block;
    height: 40px;
  }

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;

    li {
      margin: 0;

        &.active {
          color: #000;
          text-decoration: underline;
        }

      + li {
        border-left: 1px solid var(--jv-color-border-light);
      }

      a {
        margin: 0 6px;
        font-family: var(--jv-font-heading);
        font-weight: 600;
        font-size: 19px;
        line-height: 1;
        display: block;
        color: #333;
        text-decoration: none;
        padding: 8px 16px;
        transition: color .1s ease-in-out;

        &:hover {
          color: var(--jv-color-primary);
        }
      }
    }
  }
}

.right-menu {
  position: fixed;
  left: 50%;
  list-style: none;
  margin-left: 506px;
  top: 120px;
  z-index: 999999;
  width: 180px;
  max-height: calc(100% - 120px);
  overflow-y: auto;
  overflow-x: hidden;
  padding: 0 0 48px;

  ul {
    margin: 0;
    list-style: none;
    padding: 0;

    li {
      margin: 1px 0;
    }

    .active > a {
      font-weight: 700;
    }

    a {
      display: inline-block;
      padding: 2px 0;
    }

    ul {
      font-size: 90%;
      padding-left: 15px;

      a {
        padding: 1px 0;
      }
    }
  }

  ul.tutorial-menu {
    font-size: 13px;
    font-family: 'Rajdhani', sans-serif;

    a {
      padding: 2px 0;
      margin: 2px 0;
    }
  }

  .submenu-close {
    border: 1px dashed var(--jv-color-primary);
    background: #ffffff;
    color: var(--jv-color-primary);
    font-weight: 400;
    line-height: 16px;
    height: 18px;
    width: 18px;
    font-size: 18px;
    border-radius: 3px;
    margin-left: 6px;
    display: inline-block;
    text-align: center;
    cursor: pointer;
  }

  &::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }

  &::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.35);
    border-radius: 6px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: rgba(255, 255, 255, 0.2);
  }

  &::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.15);
    border-radius: 6px;
  }
}

@media (max-width: 1200px) {
  #fork-me {
    display: none;
  }
}

@media (min-width: 701px) and (max-width: 1200px) {
  main.width-limit,
  nav.width-limit {
    max-width: 100%;
  }
  .has-right-menu {
    &.width-limit {
      padding-right: 220px;
    }
  }
  .right-menu {
    top: 80px;
    right: 0;
    left: auto;
    margin-left: 0;
    height: 100%;
    max-height: calc(100% - 80px);
    border-left: 1px solid #e0e0e0;
    background: linear-gradient(to right, #f9f9f9, white);
    padding: 40px 15px 15px 15px;
    z-index: 0;
  }
}

@media (max-width: 700px) {
  .right-menu {
    display: none;
  }
}

@media (max-width: 650px) {
  nav ul li a {
    font-size: 17px;
    padding: 8px 12px;
  }
}

@media (max-width: 600px) {
  header {
    height: 90px;
  }
  nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  nav #logo img {
    height: 24px;
    margin: 16px 0 4px 0;
  }
  nav ul li a {
    font-size: 16px;
    padding: 8px 4px;
  }
  nav ul li + li {
    border-left: none;
  }
  .footer-info {
    display: none;
  }
}
