$javalin-brand-primary: #008ab4;
$light-border: #dde;
$card-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);

@mixin noselect() {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

* {
  box-sizing: border-box;
}

html {
  background: #f9f9f9;
  background: linear-gradient(#f9f9fc, #fcfcff);
  overflow-y: scroll;
  color: #333;
  line-height: 1.4;
}

a {
  color: $javalin-brand-primary;
  text-decoration: none;
  overflow-wrap: break-word
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 28px;
}

h3 {
  font-size: 22px;
}

h4 {
  font-size: 20px;
}

h1,
h2,
h3,
h4 {
  font-family: 'Roboto Slab', sans-serif;
  font-weight: 500;
  letter-spacing: -0.5px;
  margin-top: 1.75em;
  margin-bottom: 0.25em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  + p {
    margin-top: 0.25em;
  }
}

.has-right-menu {
  h2,
  h3,
  h4 {
    &::before {
      content: "#";
      margin-right: 8px;
    }
  }
}


p {
  font-family: Verdana, sans-serif;
  margin: 1.5em 0 0.25em;
}

li {
  margin: 3px 0;
}

p,
li {
  > code {
    font-size: 90%;
    letter-spacing: -0.5px;
    border: 1px solid #ccd;
    background: #f5f5f5;
    padding: 1px 3px;
    color: darken($javalin-brand-primary, 10%);
    border-radius: 3px;
    font-style: normal;
  }

  .highlighter-rouge pre {
    margin-bottom: 20px;
    padding: 10px;

    code {
      font-size: 14px;
      line-height: 1.45;
      border: 0;
    }
  }
}

pre {
  margin: .5em 0;
  background: #333;
  padding: 15px;
  border-radius: 5px;
  color: #f5f5f5;
  overflow-x: scroll;
}

main {
  img {
    width: 100%;
    display: block;
    max-width: 100%;
  }
}

.notification {
  margin: 15px 0;
  background: #fff;
  padding: 15px;
  border: 1px dashed #bbc;
  border-radius: 5px;

  p {
    margin: 0;
  }
}

.star-us {
  overflow: auto;
  margin: 25px 0 10px;

  > * {
    height: 30px;
    line-height: 30px;
    float: left;
    margin-right: 10px;
  }
}

#starUsShort {
  font-size: 15px;
  letter-spacing: -0.5px;
  font-weight: bold;
  display: none;
}

@media (max-width: 700px) {
  #starUsLong {
    display: none;
  }
  #starUsShort {
    display: block;
  }
}

@media (max-width: 480px) {
  #starFrame {
    float: right;
  }
}

blockquote {
  background: #f2f2f2;
  border-left: 10px solid #ccd;
  margin: 0 0 20px 0;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";

  &:before {
    color: #ccd;
    content: open-quote;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 5px;
    vertical-align: -0.5em;
  }

  p {
    line-height: 200%;
    display: inline;
  }
}

pre { // scrollbar in code examples
  &::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  &::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.15);
    border-radius: 8px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: rgba(255, 255, 255, 0.2);
  }

  &::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.15);
    border-radius: 8px;
  }
}

.comment {
  font-size: 80%;
  color: #555;
  font-style: italic;
}

.added-parent {
  display: flex;
  align-items: center;
}

.added-parent .added-in {
  margin-left: 12px;
}

.added-in {
  border-left: 3px solid #27b53f;
  background: rgba(0, 0, 0, 0.07);
  height: 20px;
  width: auto;
  display: inline-block;
  padding: 2px 0 2px 8px;
  margin: auto;
  position: relative;
  color: #333;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0;

  &:after {
    content: "";
    border: 10px solid rgba(0, 0, 0, 0.07);
    border-right-color: transparent;
    position: absolute;
    top: 0;
    right: -20px;
  }
}

@media (max-width: 480px) {
  .added-in {
    display: none;
  }
}

.post-content p {
  line-height: 1.6;
}

.post-notice {
  margin-top: -20px;
  font-size: 12px;
  color: #888;
}

.news ul li em {
  font-size: 90%;
}

img.bordered-image {
  border: 1px solid $light-border;
  border-radius: 3px;
  box-sizing: content-box;
}

.no-margin-top {
  margin-top: 0;
}
