.posts-overview {
  margin: 24px 0;
}

.posts-header,
.posts-footer {
  clear: both;
  p {
    margin: 0;
  }
}

ul.post-list {
  list-style: none;
  padding: 0;
  margin: 0;
  h2 {
    margin-top: 0;
  }
  li {
    + li {
      margin-top: 20px;
    }
    a {
      position: relative;
      color: #444;
      display: block;
      padding: 15px;
      background: #fff;
      border-radius: 5px;
      box-shadow: $card-shadow;
      &:hover {
        transform: scale(1.01);
      }
      h2 {
        font-size: 22px;
        font-weight: 400;
        max-width: calc(100% - 100px);
        margin: 0;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      p {
        margin: 4px 0 0;
      }
      .date {
        font-size: 14px;
        color: #666;
        position: absolute;
        top: 16px;
        right: 16px;
      }
      h3 {
        margin-top: 5px;
        font-size: 20px;
        font-weight: 400;
      }
    }
    p {
      font-size: 13px;
    }
  }
}

.subtitle {
  font-style: italic;
  margin-top: 16px;
  font-size: 18px;
}

@media (max-width: 480px) {
  ul.post-list {
    &.half {
      width: 100%;
      &:first-of-type,
      &:last-of-type {
        margin: 0;
      }
      + .half {
        margin-top: 24px;
      }
    }
    li a {
      h2 {
        font-size: 18px;
        .date {
          margin-top: 3px;
        }
      }
    }
  }
}
