.posts-overview {
  overflow: hidden;
  margin: 24px 0;
  padding: 24px 0;
  border-bottom: 1px solid #ddd;
  border-top: 1px solid #ddd;
}

.posts-header,
.posts-footer {
  clear: both;
  p {
    margin: 0;
  }
}

ul.post-list {
  list-style: none;
  padding: 0 30px 0 0;
  margin: 0;
  &.half {
    width: 50%;
    float: left;
  }
  h2 {
    margin-top: 0;
  }
  li {
    + li {
      margin-top: 24px;
    }
    h2 {
      font-size: 20px;
      max-width: 100%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    p {
      font-size: 13px;
    }
  }
}
