<div class="multitab-code" data-tab="1">

<ul>
<li data-tab="1">Java</li>
<li data-tab="2">Kotlin</li>
</ul>

<div data-tab="1" markdown="1">
~~~java
import javalin.Javalin;

public class HelloWorld {
    public static void main(String[] args) {
        Javalin app = Javalin.create().port(7000);
        app.get("/", (req, res) -> res.body("Hello World"));
    }
}
~~~
</div>

<div data-tab="2" markdown="1">
~~~kotlin
import javalin.Javalin

fun main(args: Array<String>) {
    Javalin app = Javalin.create().port(7000)
    app.get("/") { req, res -> res.body("Hello World") }
}
~~~
</div>

</div>
