<a class="sponsor-button" href="https://github.com/sponsors/tipsy">
  <span class="gh-ico" aria-hidden="true"></span>
  Sponsor Javalin
</a>
<style>
    .sponsor-button {
        margin: 0 12px;
        display: flex;
        align-items: center;
        color: #24292f;
        background: #eee;
        background: linear-gradient(to bottom, #fcfcfc 0%, #eee 100%);
        border: 1px solid #d4d4d4;
        border-radius: 4px;
        padding: 0 8px;
        height: 30px;
        line-height: 30px;
        font-weight: 700;
        font-size: 16px;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Noto Sans', Helvetica, Arial, sans-serif;
        white-space: nowrap;
    }

    .sponsor-button:hover {
        background: #eee;
    }

    .gh-ico {
        width: 20px;
        height: 20px;
        background: url(data:image/svg+xml;charset=utf-8;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHdpZHRoPSc0MCcgaGVpZ2h0PSc0MCcgdmlld0JveD0nMTIgMTIgNDAgNDAnPjxwYXRoIGZpbGw9JyMzMzMnIGQ9J00zMiAxMy40Yy0xMC41IDAtMTkgOC41LTE5IDE5IDAgOC40IDUuNSAxNS41IDEzIDE4IDEgLjIgMS4zLS40IDEuMy0uOXYtMy4yYy01LjMgMS4xLTYuNC0yLjYtNi40LTIuNi0uOS0yLjEtMi4xLTIuNy0yLjEtMi43LTEuNy0xLjIuMS0xLjEuMS0xLjEgMS45LjEgMi45IDIgMi45IDIgMS43IDIuOSA0LjUgMi4xIDUuNSAxLjYuMi0xLjIuNy0yLjEgMS4yLTIuNi00LjItLjUtOC43LTIuMS04LjctOS40IDAtMi4xLjctMy43IDItNS4xLS4yLS41LS44LTIuNC4yLTUgMCAwIDEuNi0uNSA1LjIgMiAxLjUtLjQgMy4xLS43IDQuOC0uNyAxLjYgMCAzLjMuMiA0LjcuNyAzLjYtMi40IDUuMi0yIDUuMi0yIDEgMi42LjQgNC42LjIgNSAxLjIgMS4zIDIgMyAyIDUuMSAwIDcuMy00LjUgOC45LTguNyA5LjQuNy42IDEuMyAxLjcgMS4zIDMuNXY1LjJjMCAuNS40IDEuMSAxLjMuOSA3LjUtMi42IDEzLTkuNyAxMy0xOC4xIDAtMTAuNS04LjUtMTktMTktMTl6Jy8+PC9zdmc+) no-repeat 0 0 / 100% 100%;
        margin-right: 8px;
    }
</style>
