<a class="sponsor-button" href="https://github.com/sponsors/tipsy">
    <svg width="24" height="24" viewBox="0 0 24 24">
        <path d="M12,21.35L10.55,20.03C5.4,15.36 2,12.27 2,8.5C2,5.41 4.42,3 7.5,3C9.24,3 10.91,3.81 12,5.08C13.09,3.81 14.76,3 16.5,3C19.58,3 22,5.41 22,8.5C22,12.27 18.6,15.36 13.45,20.03L12,21.35Z"/>
    </svg>
    Sponsor Javalin
</a>
<style>
    .sponsor-button {
        margin: 0 12px;
        display: flex;
        align-items: center;
        color: rgba(0, 0, 0, 0.7);
        background: #ffe8e8;
        border: 1px solid #ffb5b5;
        border-radius: 30px;
        padding: 4px 12px;
        font-weight: 500;
        font-family: 'Roboto Slab', sans-serif;
        transition: all .15s ease-in-out;
    }

    .sponsor-button:hover {
        color: rgba(0, 0, 0, 0.8);
        background: #ffe0e0;
    }

    .sponsor-button svg {
        transition: all .15s ease-in-out;
        margin-right: 8px;
    }

    .sponsor-button svg path {
        fill: #ff6363;
    }

    .sponsor-button:hover svg {
        transform: scale(1.15);
    }
</style>
