<div class="posts-overview">
    <ul class="jv-card-list tutorials">
        {% for tutorial in include.tutorials %}
        <li class="tutorial-card">
            <a class="jv-card" href="{{ tutorial.url }}">
                <h2 class="jv-card-title">{{ tutorial.summarytitle }}</h2>
                <p>{{ tutorial.summary }}</p>
                <div class="tutorial-languages">
                    {% for lang in tutorial.language %}
                    <span class="jv-label">{{lang}}</span>
                    {% endfor %}
                </div>
            </a>
        </li>
        {% endfor %}
    </ul>
</div>
