<div class="landing bluepart whos-using-javalin">
    {{ include.title }}
    <div class="used-by">
        <img src="/img/used-by/jhu.png" alt="JHU">
        <img src="/img/used-by/microsoft.png" alt="Microsoft">
        <img src="/img/used-by/redhat.png" alt="Redhat">
        <img src="/img/used-by/ntnu.png" alt="NTNU">
        <img src="/img/used-by/pleo.png" alt="Pleo">
        <img src="/img/used-by/uber.png" alt="Uber">
        <img src="/img/used-by/measuresforjustice.png" alt="Measures for Justice">
        <img src="/img/used-by/wit.png" alt="WIT">
        <img src="/img/used-by/briar.png" alt="Briar">
        <img src="/img/used-by/twosigma.png" alt="Two Sigma">
        <img src="/img/used-by/nav.png" alt="nav">
        <img src="/img/used-by/virgilsecurity.png" alt="Virgil Security">
        <img src="/img/used-by/wgtwo.png" alt="Working Group Two">
        <img src="/img/used-by/talanlabs.png" alt="Talan Labs">
        <img src="/img/used-by/datawire.png" alt="Datawire">
        <img src="/img/used-by/swatt.png" alt="Swatt">
        <img src="/img/used-by/telenor.png" alt="Telenor">
        <img src="/img/used-by/revolut.png" alt="Revolut">
        <img src="/img/used-by/expressscripts.png" alt="Express Scripts">
        <img src="/img/used-by/dkb.png" alt="Deutsche Kreditbank">
        <img src="/img/used-by/c6bank.png" alt="C6 Bank">
        <img src="/img/used-by/nordstrom.png" alt="Nordstrom">
        <img src="/img/used-by/apexar.png" alt="Apexar">
        <img src="/img/used-by/celer.png" alt="Celer">
        <img src="/img/used-by/essential.png" alt="Essential.gg">
        <img src="/img/used-by/carilion-clinic.png" alt="Carilion Clinic">
    </div>
    <p>{{ include.paragraph }}</p>
</div>
