<div class="landing bluepart sponsors-part">
    {{include.title}}
    <div class="sponsors">
        <div class="sponsor">
            <img src="/img/sponsors/feature-upvote.png" alt="Feature Upvote">
            <a href="https://featureupvote.com">https://featureupvote.com</a>
        </div>
        <div class="sponsor">
            <img src="/img/sponsors/goodmem.png" alt="GoodMem">
            <a href="https://goodmem.ai">https://goodmem.ai</a>
        </div>
        <div class="sponsor">
            <img src="/img/sponsors/Cloudflare_Logo.svg.png" alt="Cloudflare">
            <a href="https://cloudflare.com">https://cloudflare.com</a>
        </div>
        <div class="sponsor cta">
            <div class="dashing-border">
                {{include.cta}}
                <br>
                {% include macros/sponsor-button.html %}
            </div>
        </div>
    </div>
</div>
<style>
    .bluepart.sponsors-part {
        padding: 40px 20px;
        background: #050a12 !important;
    }

    .bluepart.sponsors-part h1 {
        margin: 0 0 32px;
    }

    .sponsors {
        display: flex;
        flex-wrap: wrap;
        max-width: 1140px;
        margin: 0 auto;
        align-items: center;
        justify-content: center;
    }

    .sponsor {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 260px;
        height: 180px;
        padding: 20px;
        margin: 12px;
        border-radius: 8px;
        background: #fff;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.6);
    }

    .sponsor:not(.cta) a {
        flex-shrink: 0;
        color: #333;
        font-size: 14px;
        text-decoration: underline;
        margin-top: 12px;
    }

    .sponsor img {
        display: block;
        max-width: 100%;
        height: 100px;
        width: auto;
        object-fit: contain;
    }

    .sponsor.cta {
        padding: 12px;
        text-align: center;
        font-size: 20px;
        font-weight: 600;
        font-family: var(--jv-font-heading);
    }

    .sponsor.cta .sponsor-button {
        font-size: 18px;
    }

    .dashing-border {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        height: 100%;
        width: 100%;
        border: 1px dashed #777;
        border-radius: 5px;
        padding: 24px 8px;
        background: #f9f9f9;
    }

    @media (max-width: 900px) {
        .sponsors {
            flex-direction: column;
        }

        .sponsor {
            margin: 16px 0;
        }
    }
</style>
