<div class="small-used-by">
    <div class="content">
        <img src="/img/used-by/microsoft.png" alt="Microsoft">
        <img src="/img/used-by/redhat.png" alt="Redhat">
        <img src="/img/used-by/uber.png" alt="Uber">
        <img src="/img/used-by/telenor.png" alt="Telenor">
        <img src="/img/used-by/revolut.png" alt="Revolut">
        <img src="/img/used-by/c6bank.png" alt="C6 Bank">
        <img src="/img/used-by/nordstrom.png" alt="Nordstrom">
        <img src="/img/used-by/dkb.png" alt="Deutsche Kreditbank">
    </div>
</div>
