<div class="landing whitepart">
    {{ include.title }}
    <div class="community-stats">
        <a href="https://search.maven.org/artifact/io.javalin/javalin" target="_blank" class="stat-card">
            <div class="stat-icon">
                <i class="fa-solid fa-download"></i>
            </div>
            <div class="stat-number">1M+</div>
            <div class="stat-label">Monthly downloads</div>
        </a>
        <a href="https://github.com/javalin/javalin/network/dependents" target="_blank" class="stat-card">
            <div class="stat-icon">
                <i class="fa-solid fa-cube"></i>
            </div>
            <div class="stat-number">12k</div>
            <div class="stat-label">Dependent Projects</div>
        </a>
        <a href="https://github.com/javalin/javalin/stargazers" target="_blank" class="stat-card">
            <div class="stat-icon">
                <i class="fa-solid fa-star"></i>
            </div>
            <div class="stat-number">8.1k</div>
            <div class="stat-label">GitHub Stars</div>
        </a>
        <a href="https://github.com/javalin/javalin/commits/master" target="_blank" class="stat-card">
            <div class="stat-icon">
                <i class="fa-solid fa-code-commit"></i>
            </div>
            <div class="stat-number">2,396</div>
            <div class="stat-label">Commits</div>
        </a>
        <a href="https://github.com/javalin/javalin/pulls?q=is%3Apr" target="_blank" class="stat-card">
            <div class="stat-icon">
                <i class="fa-solid fa-code-pull-request"></i>
            </div>
            <div class="stat-number">1,141</div>
            <div class="stat-label">Pull Requests</div>
        </a>
        <a href="https://github.com/javalin/javalin/graphs/contributors" target="_blank" class="stat-card">
            <div class="stat-icon">
                <i class="fa-solid fa-users"></i>
            </div>
            <div class="stat-number">199</div>
            <div class="stat-label">Contributors</div>
        </a>
        <a href="https://discord.gg/sgak4e5NKv" target="_blank" class="stat-card">
            <div class="stat-icon">
                <i class="fa-brands fa-discord"></i>
            </div>
            <div class="stat-number">649</div>
            <div class="stat-label">Discord Members</div>
        </a>
        <a href="https://github.com/javalin/javalin/network/members" target="_blank" class="stat-card">
            <div class="stat-icon">
                <i class="fa-solid fa-code-fork"></i>
            </div>
            <div class="stat-number">632</div>
            <div class="stat-label">Forks</div>
        </a>
        <a href="https://github.com/javalin/javalin/releases" target="_blank" class="stat-card">
            <div class="stat-icon">
                <i class="fa-solid fa-tag"></i>
            </div>
            <div class="stat-number">153</div>
            <div class="stat-label">Releases</div>
        </a>
        <a href="https://github.com/javalin/javalin/issues" target="_blank" class="stat-card">
            <div class="stat-icon">
                <i class="fa-solid fa-circle-exclamation"></i>
            </div>
            <div class="stat-number">14/1323</div>
            <div class="stat-label">Open Issues</div>
        </a>
    </div>
    <p class="community-stats-date">As of November 2025</p>
</div>
