<div class="landing bluepart blackpart">
{{ include.title }}
{% capture java %}
import io.javalin.Javalin;
import static io.javalin.apibuilder.ApiBuilder.*;

void main() {
    var app = Javalin.create(config -> {
        config.useVirtualThreads = true;
        config.http.asyncTimeout = 10_000L;
        config.staticFiles.add("/public");
        config.staticFiles.enableWebjars();
        config.router.apiBuilder(() -> {
            path("/users", () -> {
                get(UserController::getAll);
                post(UserController::create);
                path("/{userId}", () -> {
                    get(UserController::getOne);
                    patch(UserController::update);
                    delete(UserController::delete);
                });
                ws("/events", userController::webSocketEvents);
            });
        });
    }).start(7070);
}
{% endcapture %}
{% capture kotlin %}
import io.javalin.Javalin
import io.javalin.apibuilder.ApiBuilder.*

fun main() {
    val app = Javalin.create { config ->
        config.useVirtualThreads = true
        config.http.asyncTimeout = 10_000L
        config.staticFiles.add("/public")
        config.staticFiles.enableWebjars()
        config.router.apiBuilder {
            path("/users") {
                get(UserController::getAll)
                post(UserController::create)
                path("/{userId}") {
                    get(UserController::getOne)
                    patch(UserController::update)
                    delete(UserController::delete)
                }
                ws("/events", userController::webSocketEvents)
            }
        }
    }.start(7070)
}
{% endcapture %}
{% include macros/docsSnippet.html java=java kotlin=kotlin %}

<p style="margin: 40px 0">{{ include.brag }}</p>

<div class="center">
    <a class="landing-btn" href="/tutorials">{{include.tutorials}}</a>
    <a class="landing-btn" href="/documentation">{{include.docs}}</a>
</div>
</div>
