{% comment %}
    Liquid only allows passing strings - splitting on "---" gives us an array of reasons
    Splitting on -- gives title/paragraph pairs
{% endcomment %}
<div class="landing whitepart">
    {{ include.title }}
    <div class="boxes">
        {% assign allReasons = include.reasonRow1 | append: "---" | append: include.reasonRow2 | split: "---" %}
        {% assign icons = "cube,feather,link,file-code,diagram-project,globe" | split: "," %}
        {% for reason in allReasons %}
            <div class="jv-card box">
                {% assign icon = icons[forloop.index0] %}
                <div class="icon-heading">
                    <i class="fa-solid fa-{{ icon }} icon"></i>
                    <h2>{{ reason | split: "--" | first }}</h2>
                </div>
                <p>{{ reason | split: "--" | last }}</p>
            </div>
        {% endfor %}
    </div>
</div>
