---
layout: default
---

<article class="jv-article" itemscope itemtype="http://schema.org/BlogPosting">
    <div class="jv-article-header">
        <h1 class="no-margin-top" itemprop="name headline">{{ page.title }}</h1>
        <p class="notification">
            <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time>
            • Written by <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>
            <span id="timeToRead">Reading time: <b>0-0 min</b></span>
        </p>
    </div>
    <div class="post-content" itemprop="articleBody">
        {{ content }}
    </div>
</article>
{% include socialButtons.html %}
