<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/css?family=Encode+Sans:500,700" rel="stylesheet">
    <meta property="og:title" content="{% if page.title %}{{ page.title }} - {% endif %}Javalin - A lightweight Java and Kotlin web framework. Create REST APIs in Java or Kotlin easily.">
    <meta property="og:site_name" content="Javalin">
    <meta property="og:url" content="https://javalin.io">
    <meta property="og:description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
    <meta property="og:image" content="https://javalin.io/img/javalin.png">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="google-site-verification" content="liMtSlffOZROWLqoiOZdSx-luH9_Siq5-Ot6xqHZwq8">
    <title>
        {% if page.title %}{{ page.title }} - {% endif %}Javalin - A lightweight Java and Kotlin web framework
    </title>
    <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    <link rel="shortcut icon" type="image/png" href="/img/favicon.png">
    <link rel="stylesheet" href="/css/main.css">
    <noscript><style>
        :target:before {
            content: "";
            display: block;
            height: 100px;
        }
    </style></noscript>
    <style>{% include inlineCss.css %}</style>
</head>
<body>
    {% include gtm.html %}
    {% include forkMe.html %}
    <header>
        <nav class="width-limit">
            <a id="logo" href="/">
                {% if page.splash %}<img src="/img/logo_inv.svg">{% else %}<img src="/img/logo.svg">{% endif %}
            </a>
            <ul>
                <li><a href="/download">Download</a></li>
                <li><a href="/documentation">Docs</a></li>
                <li><a href="/tutorials">Tutorials</a></li>
                <li><a href="/news">News</a></li>
            </ul>
        </nav>
    </header>
    <main class="width-limit{% if page.rightmenu %} has-right-menu{% endif %}">
        {% if page.splash != true %}
            <script>
                const hasBeenDismissed = localStorage.getItem("survey-dismissed") === "true";
                const pageLoadCount = parseInt(localStorage.getItem("page-load-count") || 0);
                localStorage.setItem("page-load-count", (pageLoadCount + 1).toString());
                if (!hasBeenDismissed && pageLoadCount > 2 && pageLoadCount < 20) {
                    document.write(`
                        <div id="usage-survey">
                            <div class="pulsating-circle"></div>
                            We've made a short <a href="https://docs.google.com/forms/d/e/1FAIpQLScVaZ9t7AdKBejGwS5m8otH7xdERSg2vqF7OrtvvYx8y_sr1g/viewform?usp=sf_link">survey</a>
                            to find out more about Javalin users. If you have the time, please fill it out.
                            <span class="close">✖</span>
                        </div>
                    `);
                    document.querySelector("#usage-survey .close").addEventListener("click", function () {
                        document.querySelector("#usage-survey").style.display = "none";
                        localStorage.setItem("survey-dismissed", "true");
                    });
                }
            </script>
        {% endif %}
        {{ content }}
    </main>
    <footer>
        Javalin is a Java and Kotlin web framework, open sourced under Apache 2
        | <a href="/about">About</a>
        | <a href="/about#contact">Contact</a>
        | <a href="/for-educators">For educators</a>
    </footer>
    {% include starBegging.html %}
    <script src="/js/scripts.js"></script>
</body>
</html>
