---
layout: default
---

<article class="news" itemscope itemtype="http://schema.org/BlogPosting">
    <h1 class="no-margin-top" itemprop="name headline">Javalin {{ page.version }} released</h1>
    <div class="subtitle">{{ page.title }} (<time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time>)</div>
    {% unless page.hidewhatsjavalin %}
    <div class="notification" markdown="1">
        <em>What's Javalin?</em> Javalin is a very lightweight Java and Kotlin web framework which focuses on simplicity and Java/Kotlin interoperability.
        Read more on our <a href="/">landing page</a>.
    </div>
    {% endunless %}
    <div class="post-content" itemprop="articleBody">
        {% assign thisMajor = page.version | split: "." | first %}
        {% assign currentMajor = site.javalinversion | split: "." | first %}
        {% if thisMajor < currentMajor %}
            <div class="red-notice">
                <strong>Important:</strong> This news article covers an old version of Javalin (v{{page.version}}).
                The current version is v{{site.javalinversion}}.
                <br>
                See the <a href="/documentation">documentation page</a> for up-to-date information.
            </div>
        {% endif %}
        {{ content }}
    </div>
</article>
{% include socialButtons.html %}

<style>
    .subtitle {
        font-style: italic;
        margin-top: 16px;
        font-size: 18px;
    }

    .red-notice {
        font-size: 18px;
        background-color: #e53535;
        border-radius: 4px;
        color: #fff;
        padding: 16px;
        line-height: 1.6;
    }
    .red-notice a {
        color: #fff;
        text-decoration: underline;
    }
</style>
